@model IEnumerable<KitapKesifleri.Models.Book>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "All Books";
}


<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>@localizer["yorum"]</h4>
                    <h2>@localizer["tum"]</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">@localizer["kitaplar"]</li>
                        <li data-filter=".des">@localizer["bilimkurgu"] </li>
                        <li data-filter=".dev">@localizer["polisiye"] </li>
                        <li data-filter=".gra">@localizer["kisisel"] </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        @foreach (var x in Model)
                        {@if (x.CategoryId == 1)
                            {
                                <div class="col-lg-4 col-md-4 all des">
                                    <div class="product-item">
                                         <a  href="/Book/Details/@x.Id"><img src="@x.BookCover" alt=""></a>
                                        <div class="down-content">
                                            <a href="/Book/Details/@x.Id"><h4>@x.BookName</h4></a>
                                            <h6>İlk basım: <br />@x.Firstdate</h6>
                                            <p>Özet:@x.Summary</p>

                                        </div>
                                    </div>
                                </div>}
                        @if (x.CategoryId == 2)
                        {<div class="col-lg-4 col-md-4 all dev">
                                <div class="product-item">
                                    <a href="/Book/Details/@x.Id"><img src="@x.BookCover" alt=""></a>
                                    <div class="down-content">
                                        <a href="/Book/Details/@x.Id"><h4>@x.BookName</h4></a>
                                        <h6>İlk basım @x.Firstdate</h6>
                                        <p>Özet:@x.Summary</p>

                                    </div>
                                </div>
                            </div>}
                        @if (x.CategoryId == 3)
                        {<div class="col-lg-4 col-md-4 all gra">
                                <div class="product-item">
                                    <a href="/Book/Details/@x.Id"><img src="@x.BookCover" alt=""></a>
                                    <div class="down-content">
                                        <a href="/Book/Details/@x.Id"><h4>@x.BookName</h4></a>
                                        <h6>İlk basım @x.Firstdate</h6>
                                        <p>Özet:@x.Summary</p>

                                    </div>
                                </div>
                            </div>}
                    }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="pages">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
