@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";

}

<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">

            <div class="text-content">

                <h4>@localizer["bulwer"]</h4>
                <h2>Bulwer Lytton</h2>
            </div>
        </div>
        <div class="banner-item-02">

            <div class="text-content">

                <h4>@localizer["franklin"]</h4>
                <h2>Franklin D. Rooselvet</h2>
            </div>
        </div>
        <div class="banner-item-03">

            <div class="text-content">
                <h4>@localizer["j."]</h4>
                <h2>J. Swift</h2>
            </div>
        </div>
    </div>
</div>
@*<h2 class="display-4">@localizer["HelloWorld"]</h2>*@
@*<h2 class="display-4">@ViewData["HelloWorld"]</h2>*@

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Adminin Favorisi</h2>
                    <a asp-controller="Book" asp-action="AllBooks">@localizer["TumKitaplar"] <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
           
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="~/images/jrrtolkien-1.jpg" alt=""></a>
                        <div class="down-content">
                            <h4>Yüzüklerin Efendisi </h4>
                            <h6></h6>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>