@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<KitapKesifleri.Controllers.bookDTO>

@{ ViewData["Title"] = "Index"; }
<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>@localizer["puan"]</h4>
                    <h2>@localizer["puan2"]</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="team-members">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>@localizer["Kitaplar"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <div class="team-member">
                <div class="thumb-container">
                    <img src="@item.BookCover" class="d-block w-100 h-100" />
                    <div class="hover-effect">
                        <div class="hover-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>@item.BookName</h4>
                    <span>@item.Point</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
                </div>
            </div>
        </div>

    }
</div>
            }
